html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form,
label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{text-decoration:none;}
/* contenido de archivo reset.css */




*{box-sizing:border-box;}
.cabezal,[class^=block],.menugrupo,.infotitfix,.cabezalfix,.imp{
-webkit-transition:all .8s; /* transición de .5seg a todos los elementos para chrome*/
-moz-transition:all .8s; /* transición de .5seg a todos los elementos para mozilla*/
-o-transition:all .8s; /* transición de .5seg a todos los elementos para ophera*/
transition:all .8s; /* transición de .5seg a todos los elementos*/}

/*	 GENERAL	*/
::-moz-selection { /* Code for Firefox */color:#fff;background:#FF6A2B;}
::selection{color:#fff;background:#E34B0B;}
p::first-line{text-transform:uppercase;}
a::first-line{text-transform:uppercase;}
a:hover{opacity:1;}
a{color:#000;}
html{width:100%; background-color:#FFF;}
body{margin:0 auto;width:100%;font-family:Roboto,Tahoma,Helvetica,Arial;font-size:14px;min-width:320px;max-width:1400px;}
strong{font-weight:bold;}
em{font-style:italic;}
blockquote{padding:0.2em 0.3em;margin:0 0.3em;font-style:italic;color:#868080;border-left:solid 6px #F15A24;border-right:solid 6px #F15A24;background-color:#E4E4E4;margin-bottom:0.8em;}
blockquote p{margin-top:1em;margin-bottom:1em;}
p iframe{width:100%;}
.color1{background-color:#FFF;}
.colorfont1{color:#FFF;}
.flecol1{border-left:10px solid #FFFFFF;border-top:5px solid transparent;border-bottom:5px solid transparent;}
.color2{background-color:#000;}
.colorfont2{color:#000;}
.flecol2{border-left:10px solid #000;border-top:5px solid transparent;border-bottom:5px solid transparent;}
.color3{background-color:#E95B2A;}
.color4{background-color:#F7931E;}
.colorfont4{color:#E8570E;}
.color5{background-color:#0071BC;}
.colorfont5{color:#0071BC;}
.flecol5{border-left:10px solid #0071BC;border-top:5px solid transparent;border-bottom:5px solid transparent;}
/*	COLORES PIE	*/
[class^=item-pie-]{width:100%;border-top:0.2em solid #FFF;}
.bgini{border-bottom:0.3em solid #7F7F7F;}
.bglar{border-bottom:0.3em solid #F15A24;}
.bgnac{border-bottom:0.3em solid #39B54A;}
.bgint{border-bottom:0.3em solid #009FF8;}
.bgneg{border-bottom:0.3em solid #10865E;}
.bgdep{border-bottom:0.3em solid #D9E021;}
.bgsuc{border-bottom:0.3em solid #FF0000;}
.bgact{border-bottom:0.3em solid #FF4ED6;}
.bgeco{border-bottom:0.3em solid #0071BC;}
.bgtec{border-bottom:0.3em solid #9E005D;}
.bgesp{border-bottom:0.3em solid #31138E;}
.bgsal{border-bottom:0.3em solid #AA64D6;}
/*	COLORES BACKGROUD MENU */
.imp,.imp_bar{position:fixed;z-index:7;font-size:3em;}
.imp{top:20px;left:-5000px;height:90px;padding:0 5px;background-color:#0071BC;font-size:2.5em;font-family:SerifaBC;transform:rotate(-270deg);-webkit-transform:rotate(-270deg);-moz-transform:rotate(-270deg);-o-transform:rotate(-270deg);}
.imp a{color:#FFF;}
.imp_men{display:none;}
.impfix{height:50px;transform:rotate(0deg);top:10px;font-size:2em;left:100px;left:7px !important;top:0px !important;-o-border-radius:0 0 20px 20px;-moz-border-radius:0 0 20px 20px;-webkit-border-radius:0 0 20px 20px;border-radius:0 0 20px 20px;}
[id^=item-]:hover{font-weight:bold;font-size:0.9em;opacity:1;}
.menugrupo li a:hover{color:#000;opacity:1;}
#imp_men{display:none;}
#item-ini:hover{background-color:#7F7F7F;}
#item-lar:hover{background-color:#F15A24;}
#item-nac:hover{background-color:#39B54A;}
#item-int:hover{background-color:#009FF8;}
#item-neg:hover{background-color:#10865E;}
#item-dep:hover{background-color:#D9E021;}
#item-suc:hover{background-color:#FF0000;}
#item-act:hover{background-color:#FF4ED6;}
#item-eco:hover{background-color:#0071BC;}
#item-sal:hover{background-color:#9E005D;}
#item-esp:hover{background-color:#31138E;}
#item-sal:hover{background-color:#AA64D6;}
[class^=mark-]{font-size:0.8em;font-weight:bold;text-transform:uppercase;}
.mark-ini{background-color:#7F7F7F;}
.mark-lar{background-color:#F15A24;}
.mark-nac{background-color:#39B54A;}
.mark-int{background-color:#009FF8;}
.mark-neg{background-color:#10865E;}
.mark-dep{background-color:#D9E021;}
.mark-suc{background-color:#FF0000;}
.mark-act{background-color:#FF4ED6;}
.mark-eco{background-color:#0071BC;}
.mark-sal{background-color:#9E005D;}
.mark-esp{background-color:#31138E;}
.mark-sal{background-color:#AA64D6;}
/*	CONTENEDORES	*/
.contenedor{margin:10px auto 50px;width:100%;min-width:320px;max-width:1400px;}
.cabezal{padding-top:30px;clear:both;background-color:#FFF;float:left;width:100%;}
.contlogo{margin:auto; width:75%;}
.txtlogo{margin:auto;clear:both;float:left;position:relative;}
.txtlogo h1 a:hover{color:#E8400E;opacity:0.9;}
.infotit,.infotit2{color:#E8570E !important;font-family:SerifaBC,monospace;font-size:4.6em;text-transform:uppercase;}
.infotit span,.infotit2 span{text-transform:initial;}
.infotit2{display:none;color:#FFF !important;}
.fecha{font-size:0.8em;font-weight:bold;clear:both;float:left;}
.logo{margin-top:-80px;clear:both;}
.logopng{width:100%;height:auto;max-height:90px;clear:both;}
nav.nav_men{height:1.9em;width:100%;background-color:black;clear:both;margin:auto;margin-bottom:16px;}
.menu_bar{display:none;padding:0.1em;width:100%;height:2em;background-color:#000;}
.menu_bar a{color:#FFF;font-size:1.8em;}
.menu_bar section#buscar.buscar{padding-left:0.5em;}
.menugrupo{margin:auto;padding-left:1em;overflow:hidden;height:3em;}
ul.menugrupo li{display:inline-block;float:left;line-height:2em;display:flex;flex-direction:column;}
ul.menugrupo li section.buscar{padding-right:0.5em;}
.menugrupo li a{display:inline-block;border-left:white solid 1px;border-right:white solid 1px;text-align:center;width:130px;color:#FFF;}
.menugrupo li#item-sep{border:none;background-color:#fff;width:0.1em;height:2em;padding:0;}
.centrador{margin:1em auto;width:1100px;background-color:#FFF;}
.superior{width:100%;display:inline-block;}
.principales{border-bottom:solid #000 1px;width:100%;margin-bottom:5px;float:left;}
.Slider{width:65%;float:left;background-color:#FFF;}
.icon-chevron-right{color:#FFF;font-size:4.85em;margin-right:0.3em;opacity:0.4;}
.icon-chevron-left{color:#FFF;font-size:4.85em;margin-left:0.3em;opacity:0.4;}
li.bjqs-prev a,li.bjqs-next a{top:25% !important;}
a .icon-chevron-right:hover{opacity:0.7;}
a .icon-chevron-left:hover{opacity:0.7;}
.li_sli{width:100%;padding:0 10px;}
.li_sli .art_sli .imgnota .piefotnot{margin-top:0em;margin-left:10px;}
.li_sli .art_sli .imgnota .piefotnot .txtpie{color:#444;border:none;font-weight:bold;width:100%;}
.li_sli .art_sli .imgnota .piefotnot .redpie{margin-top:-5em;margin-right:5px;}
.li_sli article.art_sli header.titnot{padding:0px 10px;font-size:1.8em;}
.li_sli article.art_sli p.txtnot{padding:0px 20px 0 10px;line-height:1.3em;font-size:0.9em;}
.Postslider{width:35%;float:right;}
.Postslider article:first-child{border-bottom:1px solid #000;margin-bottom:5px;}
.Postslider article.art_sli{padding:0 10px 5px 10px;margin:auto;margin-bottom:15px;overflow:hidden;}
.Postslider article.art_sli figure figcaption.piefotnot{margin-top:-1.5em;}
.Postslider article.art_sli figure figcaption.piefotnot section.txtpie{border:none;width:100%;background-color:rgba(0, 0, 0, 0.60);height:1.8em;}
.Postslider article.art_sli figure figcaption.piefotnot section.redpie{margin-top:-4em;}
.Postslider article.art_sli header.titnot{font-size:1.2em;padding-top:0px;}
.ads{}
.nota{}
.notas{display:flex;width:100%;flex-direction:row;}
[class^=block]{float:left;}
.block1{width:50%;}
.block2{width:50%;display:flex;flex-direction:row;}
.block3{width:42%;margin-left:10px;}
.block4{width:56%;margin-left:10px;}
.columnistas{width:100%;float:left;}
.col1{width:100%;margin:auto;padding:8.5px 0;border-bottom:solid 1px #000;margin-bottom:10px;}
.col1:first-child,.col2:first-child{padding-top:0 !important;}
.col1 p{line-height:1.3em;margin-bottom:1em;text-align:justify;}
.col1 section figure.imgnota figcaption.piefotnot section.txtpie.color2 div.flecha.flecol1{margin-top:-0.4em;}
article.col1 a.rrssnot div.flecha{margin-top:6px;}
article.col1 p code iframe,article.col1 p iframe,article.col1 iframe{width:100% !important;clear:both;margin:1em 0;}
article.col1 header.titnot.interno{margin-top:0.5em;margin-bottom:0.5em;}
article.col1 section figure.imgnota{margin-bottom:1em;}
article.col1 p{line-height:1.5em;}
[id^=gallery-]{margin-bottom:1em !important;margin-top:1em !important;}
.imgnota{margin:auto;}
.img{width:100%;}
.imgcol1,.imgcol2{height:auto;}
.piefotnot{position:relative;height:2em;margin-top:-1em;overflow:hidden;}
.col2{width:100%;margin:auto;padding:0.85em 0;border-bottom:solid 2px #E6E6E6;overflow:hidden;}
.col2 figure figcaption .txtpie{width:100%;border-left:none;border-right:none;font-size:0.8em;line-height:1.8em;height:2em;}
.bmasleido{width:100%;float:right;padding-top:5px;}
.bcolumnistas{width:100%;float:right;clear:both;}
.inferior{clear:both;width:100%;}
.flecha{width:0;height:0;margin-top:0.45em;float:left;margin-right:0.5em;}
section.principales .flecha{margin-top:-0.5em;}
section.principales section#Slider.Slider ul.bjqs li.li_sli.bjqs-slide article.art_sli section figure.imgnota a img.img, #Slider ul.bjqs li article section figure a img{min-height:340px;}
#Slider ul.bjqs li article section figure figcaption section{background:none !important;}
#Slider ul.bjqs li article section figure figcaption section span a{color:#000;}
#Slider ul.bjqs li article section figure figcaption section div{display:none;}
.catnot{margin-top:0.15em;}
.catnot span a,.txtpie.color2 span a{font-weight:bold;}
#Slider ul.bjqs li article section figure figcaption section.txtpie p span a{color:#000 !important;}
#Slider article section figure figcaption section.txtpie p.catnot{margin-top:0.85em;}
#Postslider article section figure figcaption section.txtpie p span a{color:#FFF;}
#Postslider article section figure figcaption section.txtpie p.catnot{margin-top:0.85em;}
.txtpie.color2 span a{color:#FFF;}
.txtpie{font-size:0.8em;float:left;line-height:1.8px;color:#FFF;border:1px solid #FFF;padding:0 10px;border-left:none;border-bottom:none;}
.redpie{float:right;margin-top:-4em;padding:3px;padding-top:4px;background-color:rgba(0, 0, 0, 0.31);border-radius:15px;z-index:1;position:relative;}
.redpie ul li{float:left;font-size:1.8em;margin-right:3px;margin-left:3px;}
.redpie .tw a,.redpie .fb a,.redpie .yt a,.redpie .gp a,.redpie .in a,.redpie .rs a{color:#FFF;}
.redpie .tw a:hover,.redpie .fb a:hover,.redpie .yt a:hover,.redpie .gp a:hover,.redpie .in a:hover,.redpie .rs a:hover{color:#D2D2D2;opacity:1;}
article.col2 figure.imgnota section.redpie ul li{font-size:1.5em;}
.titnot{font-size:1.2em;padding-top:15px;margin:auto;font-weight:bold;}
.titnot h2{text-align:left;margin-bottom:7px;line-height:1.3em;clear:both;}
.txtnot{margin:auto;text-align:justify;margin-bottom:10px;line-height:1.25em;padding-top:5px;font-size:0.9em;color:#868080;}
p.txtnot a.lnkexcerpt{color:#868080;}
.col1 .rrssnot{font-weight:bold;line-height:1.5em;}
.titnot h3{font-size:0.8em;line-height:1.2em;}
.col2 .titnot{padding-top:5px;}
.col2 .rrssnot{font-weight:bold;line-height:1.5em;}
.col2 .txtnot{margin-bottom:3px;}
.tagsec{width:100%;clear:both;margin-bottom:1px;margin-top:5px;}
.recnar{border-top:18px solid #E8570E;border-right:18px solid transparent;height:0;width:35%;float:left;}
.recneg{border-bottom:18px solid #000000;border-left:18px solid transparent;height:0;width:72%;float:right;margin-top:-12px;}
.txteti{font-weight:bold;color:#FFF;float:right;margin:-16px 10px 0 0;clear:both;}
p.txteti a{color:#FFF;}
.maslei{float:left;margin-top:4px;clear:both;padding-bottom:5px;border-bottom:1px solid #000;}
.maslei figure{width:40%;float:left;padding:1.5px;}
.maslei figure img{float:left;}
.maslei header{float:right;width:60%;}
.maslei header h4{margin:0 5px;font-weight:bold;float:left;}
.maslei p{float:left;margin:3px;margin-left:2px;text-align:justify;width:58%;}
.colum{float:left;clear:both;padding:3px 0 3px 0;border-bottom:1px solid #000;}
.columnistas > section > article:nth-last-child(1){margin-bottom:5px;}
.bcolumnistas article figure .img{float:right;}
.bcolumnistas article figcaption {float:left;margin-top:-50px;padding:5px;background-color:rgba(77, 144, 254, 0.47);font-weight:normal;color:#000;font-size:1.2em;font-style:italic;}
.collink{background:rgba(19, 19, 19, 0.73);z-index:999999;width:100%;float:left;clear:both;color:#FFF;padding:2px;padding-left:10px;font-style:italic;}

/*      nofound      */
section.nofound{margin:5em auto;width:50%;}
section.nofound p span{font-size:9em;color:#F15A24;font-weight:bold;text-transform:uppercase;font-family:SerifaBC;}
section.nofound p{margin:0 auto;display:block;}
.bcolumnistas:nth-child(3){border:none; !important;}
.bcolumnistas:nth-last-child(1){border:none; !important;}

/*        widget        */
section.widget-general section.widget ul li:nth-child(1n+0){margin-bottom:1em;padding:0.3em 0;width:90%;margin:auto;}
section.widget-general section.widget div.timeline-Header,h1.timeline-Header-title u-inlineBlock{display:none;}
section.widget ul li:nth-child(1n+0){clear:both;margin-bottom:1em;padding:0.3em 0;width:98%;margin:auto;}

/* CALENDARIO */
#wp-calendar{width:100%;}
#wp-calendar caption{color:#eee;font-size:13px;margin-top:0;background:#111;text-transform:uppercase;padding:8px 0;}
#wp-calendar thead{font-size:10px;background:#333;color:#fff;}
#wp-calendar thead th{padding:4px 10px;}
#wp-calendar tbody{color:#aaa;}
#wp-calendar tbody td{background:#222;color:#ccc;text-align:center;font-size:13px;padding:2.5%;}
#wp-calendar tbody td a{color:#ccc;text-decoration:underline!important;}
#wp-calendar tbody td.pad{background:#111;}
#wp-calendar tbody .pad{background:none;}
#wp-calendar #today{color:#FFF;text-shadow:0 1px 0 rgba(0,0,0,.3);background-color:#716D6D;font-weight:bold;}
#wp-calendar tfoot #next{font-size:10px;text-transform:uppercase;text-align:right;}
#wp-calendar tfoot #prev{font-size:10px;text-transform:uppercase;padding-top:5px;}

.block5{width:100%;clear:both;}
.block5 .tagsec .recnar{width:15%;}
.block5 .tagsec .recneg{width:87%;}
.block5 .tagsec .txteti{float:left;margin-left:15%;}
footer{width:100%;background-color:#0071BC;margin-bottom:80px;clear:both;float:left;}
footer section.pie section.redpie{margin-top:0em;}
footer section.pie section.redpie ul{margin-top:2px;}
footer section.pie p.creditos{font-size:0.8em;line-height:1.2em;}
footer section.pie p.creditos span{font-size:0.8em;color:#9F9F9F;}
.pie{width:80%;margin:auto;}
.infopie{text-transform:uppercase;font-size:2.85em;line-height:1.3em;font-family:SerifaBC;}
.infopie span{text-transform:initial;}
.contact-pie{clear:both;float:left;font-size:0.8em;display:flex;flex-direction:row;margin-bottom:5px;}
.contact-pie li{padding:3px 5px;border-left:1px dotted #FFF;}
.contact-pie li:hover{background-color:#004E82;font-weight:bold;}
.contact-pie li:first-child{border:none;}
.contact-pie li a{color:#FFF;}

.txtcentro{margin:auto;float:left;}
.pie .redpie ul{margin-top:20px;float:left;}
.pie .redpie .tg a,.pie .redpie .tw a,.pie .redpie .fb a,.pie .redpie .yt a,.pie .redpie .gp a,.pie .redpie .in a,.pie .redpie .rs a{color:#FFF;}
.pie .redpie .tg a:hover,.pie .redpie .tw a:hover,.pie .redpie .fb a:hover,.pie .redpie .yt a:hover,.pie .redpie .gp a:hover,.pie .redpie .in a:hover,.pie .redpie .rs a:hover{opacity:0.5;}
[class^=ads]{margin:auto;clear:both;margin-bottom:0.5em !important;width:100%;}
[class^=ads] ul li aside ins a img{width:100%;}
.ads1{width:100%;%;clear:both;max-width:1100px;max-height:90px;}
.ads1,.ads1 ul{height:90px !important;}
.ads2{max-height:60px;max-width:1100px;}
.ads3,.ads4,.ads5{max-height:52px;max-width:550px;}
.ads6{max-height:100px;}
.ads7{max-height:200px;}
.ads8{max-height:250px;}
.ads6,.ads7,.ads8{margin-top:0.5em !important;}
.ads9{max-height:300px;}
.ads10{max-height:250px;}
.ads11{max-height:600px;}
.ads12{max-height:600px;}
.ads13,.ads14{max-width:120px;max-height:600px;position:fixed !important;bottom:60px;z-index:-1;}
.ads13{float:left;left:10px;}
.ads14{float:right;right:10px;}
.A1,.C1,.C2,.D1,.D2,.E1,.E2,.F1,.F2,.G1,.G2,.H1,.H2,.I1,.I2,.J1,.J2,.K1,.K2,.L1,.L2,.M1,.M2,.N1,.N2,.O1,.O2{width:100%;}
.A1,.A2,.A3,.A4,.A5{max-height:90px;}
.C1,.C2,.D1,.D2,.E1,.E2,.F1,.F2{max-height:60px;}
.D1,.D2,.E1,.E2,.F1,.F2{max-width:550px;float:left;}
.G1,.G2,.H1,.H2,.I1,.I2,.J1,.J2{max-width:230px;}
.A1,.C1,.C2{max-width:1100px;}
.A2{width:66.18%;float:left;max-width:728px;}
.A3{width:33.82%;float:right;max-width:370px;}
.A4{width:50%;float:left;max-width:550px;}
.A5{width:50%;float:right;max-width:550px;}
.G1,.G2{max-height:100px;}
.H1,.H2{max-height:200px;}
.I1,.I2{max-height:250px;}
.J1,.J2{max-height:300px;}
.K1,.K2,.L1,.L2,.M1,.M2{max-width:300px;}
.L1,.L2,.M1,.M2,.N1,.N2,.O1,.O2{max-height:600px;}
.N1,.N2,.O1,.O2{max-width:120px;}
.up{font-size:1em;font-weight:bold;color:#FFF;display:none;position:fixed;z-index:5;background-color:rgba(0, 0, 0, 0.70);bottom:30px;right:10px;text-transform:uppercase;padding:10px;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;}
.upfix{display:block;}
.up span{color:#FFF;}

a.goog-logo-link img{width:initial !important;}
#google_translate_element{float:left;clear:both !important;}
.goog-te-gadget{font-family:roboto !important;}

/* FIX */
.cabezalfix{z-index:2;width:100%;margin-top:-1em;position:fixed;left:0;padding-top:3px;}
.infotitfix{font-size:3.2em;}
.logofix{width:50%;margin-top:0px;margin-left:-300px;padding-top:3px;}
.menugrupofix li{line-height:1em;}
.centradorfix{padding-top:180px;}
.infotitfix2{display:inline-flex;float:right;z-index:5;position:fixed;right:10px;}

input[type=search] {
    z-index: 6;
    position:relative;
    color:#FFF;
    text-align:left;
    cursor:pointer;
    display:block;
    width:7.5em;
    height:2em;
    padding:0.5em;            /* Overridden by padding: 1px; */
    font-family:Roboto,Tahoma,Helvetica,Arial;     /* Overridden by font: -webkit-small-control; */
    border:none;  /* Overridden by border: 2px inset; */
    background:#A7A7A7;          /* Overridden by background-color: white; */
    line-height:1.5em;           /* Irrelevant, I guess */
    border-radius:10em;
    -webkit-transition:all .5s; /* transición de .5seg a todos los elementos para chrome*/
    -moz-transition:all .5s; /* transición de .5seg a todos los elementos para mozilla*/
    -o-transition:all .5s; /* transición de .5seg a todos los elementos para ophera*/
    transition:all .5s; /* transición de .5seg a todos los elementos*/
    outline:none; /* ocultar el fucos automático de los input */
}

input[type=search]:focus{
    width:200%; /*tamaño del boton buscar al hacer click*/
    background-color:#444;
    color:#FFF;
    font-weight:bold;
}

.col1 input[type=search]:focus{width:100%;}

::-webkit-input-placeholder {
    color:#FFF;
}

input[type=search]::-webkit-search-cancel-button {
    height:10px;
    width:10px;
    color:#000;
    background:#FFF;
}

/*css plugin related post*/
.zem_rp_content{width:95%;margin:auto;}
.related_post_title{clear:both;font-size:1em;color:#000;font-weight:bold;margin-bottom:0.5em;border-bottom:#8A8585 0.1em solid;}
.zem_rp_title{margin-left:0.3em;line-height:1.2em;font-weight:bold;color:#505050;}
a.zem_rp_thumbnail img {width:initial;}
ul.related_post{display:inline-flex;flex-direction:column;}
ul.related_post.zem_rp li{display:flex;flex-direction:row;padding:0 0.7em;border-bottom:0.01em solid #8A8585;margin-bottom: 0.3em;}

/*css plugin top 10*/
.tptn_posts_widget ul li{float:left;display:flex;flex-direction:row;clear:both;}
.tptn_posts_widget ul li span.tptn_after_thumb{padding:0 0.8em;font-weight:bold;color:#505050;margin-top:0em;}
.tptn_posts_widget ul li a.tptn_link{padding:0.1em 0;font-weight:bold;color:#505050;}
.tptn_after_thumb{font-size:0.8em;}
img.tptn_thumb.tptn_featured{width:initial;}

/* css plugin share */
.at-icon,.at-icon-wrapper{background-color:#7F7F7F !important;}

/* css PageNavi */
.wp-pagenavi .extend{display:none;}
.wp-pagenavi .pages{display:none;}

.wp-pagenavi a, .wp-pagenavi a:link, .wp-pagenavi a:visited, .wp-pagenavi span.current{
    border: 1px solid #CCC;
    color: #666;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    -moz-box-shadow: inset 0 0 1px #fff;
    -ms-box-shadow: inset 0 0 1px #fff;
    -webkit-box-shadow: inset 0 0 1px #fff;
    box-shadow: inset 0 0 1px white;
    background: #FAFAFA; /* For IE and older browsers */
    background-image: -moz-linear-gradient(top,#FAFAFA 0,#d5d4d4 100%);
    background-image: -ms-linear-gradient(top,#FAFAFA 0,#d5d4d4 100%);
    background-image: -o-linear-gradient(top,#FAFAFA 0,#d5d4d4 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,#d5d4d4));
    background-image: -webkit-linear-gradient(top,#FAFAFA 0,#d5d4d4 100%);
    background-image: linear-gradient(to bottom,#FAFAFA 0,#d5d4d4 100%);
    display: inline-block;
    line-height: 2.48em;
    height: 2.4em;
    text-decoration: none;
    margin: 0 .3em 12px;
    padding: 0 .85em;
    font-size: 12px;
    text-shadow: 0 1px 0 #fff;
}

.wp-pagenavi span.current{
    background: #d5d4d4; /* For IE and older browsers */
    background-image: -moz-linear-gradient(top,#d5d4d4 0,#FAFAFA 100%);
    background-image: -ms-linear-gradient(top,#d5d4d4 0,#FAFAFA 100%);
    background-image: -o-linear-gradient(top,#d5d4d4 0,#FAFAFA 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#d5d4d4),color-stop(100%,#FAFAFA));
    background-image: -webkit-linear-gradient(top,#d5d4d4 0,#FAFAFA 100%);
    background-image: linear-gradient(to bottom,#d5d4d4 0,#FAFAFA 100%);
    border: 1px solid #999;
    moz-box-shadow: inset 0 0 10px rgba(0,0,0,.35);
    -ms-box-shadow: inset 0 0 10px rgba(0,0,0,.35);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.35);
}

.wp-pagenavi a:hover{
    border: 1px solid #aeacac !important;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.25);
    -ms-box-shadow: 0 0 3px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.25);
    box-shadow: 0 0 3px rgba(0,0,0,.25);
}

/* Basic jQuery Slider essential styles */
/* contenido de archivo bjqs.css */
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

/* VIENE DE FONTS.CSS */
@font-face {
    font-family:'SerifaBC';
    font-weight:normal;
    font-style:normal;
    src:local('Serifa Bold Condensed'),
	url('fonts/Serifa_Bold_Condensed.woff2') format('woff2'),
	url('fonts/Serifa_Bold_Condensed.woff') format('woff'),
	url('fonts/Serifa_Bold_Condensed.eot') format('eot'),
	url('fonts/Serifa_Bold_Condensed.ttf') format('truetype'),
	url('fonts/Serifa_Bold_Condensed.svg') format('svg');
}
