@import "reset.css";
@import "var.scss";
// GENERAL
::selection{@extend .COLBLA; background:#E34B0B;}
*{box-sizing:border-box;}
.cabezal,[class^=block],.menugrupo,.infotitfix,.cabezalfix,.imp{@include prefix(transition,all .8s);}
p::first-line,a::first-line{@include prefix(text-transform,uppercase);}
a,[id^=item-]{
	:hover{opacity: 1;}
}
a{@extend .COLNEG;text-decoration:none;}
strong{font-weight:bold;}
em,blockquote{font-style:italic;}
blockquote{
	padding: 0.2em 0.3em; margin: 0 0.3em; color: $colorQuo;border-left: solid 6px $colorLar;
	border-right: solid 6px $colorLar;background-color: $colorBgQ;margin-bottom: 0.8em;
	p{margin-top: 1em;margin-bottom: 1em;}
}
p iframe{@extend .WIFULL;}
.img{@extend .WIFULL;}
.img,.imgcol1,.imgcol2{height:auto;}
.titnot{a{@extend .COLNEG;}}
//	COLORES EN MENU	
[class^=item-pie-]{@extend .WIFULL;border-top:0.2em solid $colorBlan;}
$barramenu:'border-bottom:0.3em solid';
.bgini,.bglar,.bgnac,.bgint,.bgdep,.bgsuc,.bgact,.bgeco,.bgsal{border-bottom: 0.3em solid;}
.bgini{border-bottom-color:$colorIni;}
.bglar{border-bottom-color:$colorLar;}
.bgnac{border-bottom-color:$colorNac;}
.bgint{border-bottom-color:$colorInt;}
.bgdep{border-bottom-color:$colorDep;}
.bgsuc{border-bottom-color:$colorSuc;}
.bgact{border-bottom-color:$colorAct;}
.bgeco{border-bottom-color:$colorEco;}
.bgsal{border-bottom-color:$colorSal;}
#item-ini:hover,.mark-ini{background-color:$colorIni;}
#item-lar:hover,.mark-lar{background-color:$colorLar;}
#item-nac:hover,.mark-nac{background-color:$colorNac;}
#item-int:hover,.mark-int{background-color:$colorInt;}
#item-dep:hover,.mark-dep{background-color:$colorDep;}
#item-suc:hover,.mark-suc{background-color:$colorSuc;}
#item-act:hover,.mark-act{background-color:$colorAct;}
#item-eco:hover,.mark-eco{background-color:$colorEco;}
#item-sal:hover,.mark-sal{background-color:$colorSal;}
// CUERPO
html{@extend .WIFULL;
	background-color: $colorBlan;
	body{
		@extend .WIFULL,.FONALL;
		min-width: $MovSmall;
		max-width: $PcBig;
		font-size: 14px;
		margin: 0 auto;
		header{}
	}
}
// BOTON IMPRESO
.imp{@extend .FONOFI;
	position:fixed;z-index:7;font-size:3em;top: 20px; left: -5000px; height: 90px;padding: 0 5px;
	background-color: $colorEco;font-size: 2.5em;
	@include prefix(transform,rotate(-270deg));
	a{@extend .COLBLA}
}
.impfix{
	@include prefix(border-radius,0 0 20px 20px);@include prefix(transform,rotate(0deg));
	height: 50px;top: 0px !important;font-size: 2em;left: 7px !important;
}
.imp_men,#imp_men{display: none;}
// CONTENEDORES
.infotit,.infotit2{@extend .FONOFI;text-transform: uppercase;}
.infotit2{@extend .COLBLA;display: none;}
.contenedor,.cabezal{@extend .WIFULL,.FONALL;}
.contenedor{margin: 10px auto 50px;min-width: $MovSmall;max-width: $PcBig;
	.cabezal{padding-top: 30px;clear: both;background-color: $colorBlan;float: left;
		.encabezado{
			.contlogo{margin: auto;width: $wi75;
				.txtlogo{
					margin: auto;clear: both;float: left;position: relative;
					.infotit{
						span{text-transform: initial;}
					}
					.infotit{color: $colorLog;font-size: 4.6em;}
				}
				#tiempo{
					.fecha{@extend strong; font-size:0.8em;clear:both;float:left;
					}
				}
			}
			#seclogo{@extend .WIFULL;
				.logo,.logopng{margin-top:-80px;clear:both;height: auto;}
			}
		}
	}
	.centrador{
		margin:1em auto;width:1100px;background-color:$colorBlan;
		.superior{@extend .WIFULL;display:inline-block;
			.principales{@extend .WIFULL;border-bottom:solid $colorNegr 1px;margin-bottom:5px;float:left;
				#Slider{@extend .WIFULL;float:left;
					ul{
						li{
							article section figure a img{min-height:340px;max-height: 350px;height: auto;}
							a{
								.icon-chevron-right,.icon-chevron-left{@extend .COLBLA;font-size:4.85em;opacity:0.4;
									
								}
								.icon-chevron-right{margin-right:0.3em;}
								.icon-chevron-left{margin-left:0.3em;}
							}
						}
						.li_sli{@extend .WIFULL;padding:0 10px;
							.art_sli{
								.imgnota{
									.redpie{margin-top:-5em;margin-right:5px;}
									.piefotnot{margin-top:0em;margin-left:10px;
										.txtpie{@extend .WIFULL,strong; color:$colorIni;border:none;background:none !important;
											.catnot{margin-top:0.85em;
												span a{@extend .COLNEG;}
											}
										}
									}
								}
								.titnot{padding:0px 10px;font-size:1.8em;
								}
								.txtnot{padding:0px 20px 0 10px;line-height:1.3em;font-size:0.9em;}
							}
						}
						.bjqs-prev,.bjqs-next{
							a{top:25% !important;
								:hover{opacity: 0.9 !important;color: $colorBlan;}
							}
						}
					}
				}
				.Postslider{width:35%;float:right;
					article:first-child{border-bottom:1px solid $colorNegr;margin-bottom:5px;}
					.art_sli{padding:0 10px 5px 10px;margin:auto;margin-bottom:15px;overflow:hidden;
						section figure a img{min-height:180px;max-height: 185px;height: auto;}
						.titnot{font-size:1.2em;padding-top:0px;
						}
						figure{
							.piefotnot{margin-top:-1.5em;
								.txtpie{@extend .WIFULL;border:none;background-color:rgba(0, 0, 0, 0.60);height:1.8em;
									.catnot{
										span a{@extend strong,.COLBLA;}
									}
								}
							}
						}
					}
				}
			}
		}
		.inferior{@extend .WIFULL; clear:both;
			.block5{@extend .WIFULL; clear:both;
				.tagsec{
					.recnar{width: 15%;}
					.recneg{width: 87%;}
				}
				.txteti{float:left;margin-left:15%;}
			}
		}
	}
	// FOOTER
	footer{@extend .COLBLA,.WIFULL;background-color:$colorImp;margin-bottom:80px;clear:both;float:left;
		.pie{width:80%;margin:auto;
			.txtcentro{margin:auto;float:left;}
			.redpie{margin-top:0em;
				.contactos{margin-top:2px;
					li{
						a:hover{opacity:0.5;}
					}
				}
			}
			.creditos{@extend .COLBLA;font-size:0.8em;line-height:1.2em;
				span{font-size:0.8em;}
			}
			a{
				.infopie{@extend .FONOFI,.COLBLA;text-transform:uppercase;font-size:2.85em;line-height:1.3em;
					span{text-transform:initial;}
				}			
			}
			.contact-pie{clear:both;float:left;font-size:0.8em;display:flex;flex-direction:row;margin-bottom:5px;
				li{padding:3px 5px;border-left:1px dotted $colorBlan;
					a{@extend .COLBLA;}
				}
				li:hover{@extend strong; background-color:#004E82;}
				li:first-child{border:none;}
			}
		}
	}
}
.logopng{@extend .WIFULL;height:auto;max-height:90px;clear:both;}
// MENU
nav.nav_mev{@extend .WIFULL;height: 1.9em;background-color: $colorNegr;clear: both;margin: auto;margin-bottom: 16px;}
.menu_bar{
	@extend .WIFULL;display:none;padding:0.1em;height:2em;background-color:$colorNegr;
	a{@extend .COLBLA;font-size: 1.8em;}
	#buscar{padding-left:0.5em;}
}
[class^=mark-]{@extend strong; font-size:0.8em;text-transform:uppercase;}
[id^=item-]:hover{@extend strong; font-size: 0.9em;}
.nav_men{@extend .WIFULL;height:1.9em;background-color:$colorNegr;clear:both;margin:auto;margin-bottom:10px;
	.menugrupo{margin:auto;padding-left:1em;overflow:hidden;height:3em;
		li{display:inline-block;float:left;line-height:2em;display:flex;flex-direction:column;
			a{@extend .COLBLA;display:inline-block;border-left:$colorBlan solid 1px;border-right:$colorBlan solid 1px;text-align:center;width:130px;}
			#item-sep{border:none;background-color:$colorBlan;width:0.1em;height:2em;padding:0;}
			.buscar{padding-right:0.5em;}
		}
	}
}
// NOTAS
.txtnot{margin:auto;padding-top:5px;font-size:0.9em;color:$colorIni;}
[id^=gallery-]{margin-bottom:1em !important;margin-top:1em !important;}
[class^=block]{float:left;}
.col1:first-child,.col2:first-child{padding-top:0 !important;}
.txtpie{@extend .COLBLA;background-color: $colorNegr;height:20px;font-size:0.8em;float:left;border:1px solid $colorBlan;padding:0 10px;border-left:none;border-bottom:none;}
.catnot{line-height:1.8em;}
.piefotnot{position:relative;height:2em;margin-top:-1em;overflow:hidden;}
.notas,.nota{@extend .WIFULL; display:flex;flex-direction:row;
	.catnot span a{@extend strong,.COLBLA,.OVFHID;}
	.block1,.block2{@extend .WIMED5,.OVFHID;}
	.block1{
		.col1{@extend .WIFULL,.OVFHID;margin:auto;padding:8.5px 0;border-bottom:solid 1px $colorNegr;margin-bottom:10px;
			header.titnot.interno{margin-top:0.5em;margin-bottom:0.5em;}
			p code iframe,p iframe,iframe{@extend .WIFULL;clear:both;margin:1em 0;}
			section{
				.imgnota{margin-bottom:1em;
					.piefotnot{margin-top: -2em;
						.txtpie{
						}
					}
				}
			}
			.txtnot{line-height:1.5em;margin-bottom:1em;text-align:justify;}
			p{line-height: 1.8em;margin-bottom: 6px;}
		}
		.rel{
			.secrel{border-bottom: 1px solid $colorNegr;margin-bottom: 10px;}
			.relacionada{margin-bottom: 5px;
				.linkrel{
					.imgrel{display: flex; flex-direction:row;
						img{margin-right: 5px;}
						.titrel{margin-top: 5px; margin-right: 5px; line-height: 1.3em;}
					}
				}
			}
		}
	}
	.block2{display:flex;flex-direction:row;
		.block3,.block4{@extend .OVFHID; margin-left:10px;}
		.block3{width:42%;
			.col2{@extend .WIFULL,.OVFHID;margin:auto;padding:0.85em 0;border-bottom:solid 2px $colorIni;overflow:hidden;
				figure{
					figcaption{
						.txtpie{@extend .WIFULL;border-left:none;border-right:none;font-size:0.8em;line-height:1.8em;}
					}
				}
				.txtnot{line-height:1.25em;margin-bottom: 3px;}
			}
			.bmasleido{@extend .WIFULL;float:right;padding-top:5px;}
		}
		.block4{width:56%;
			.columnistas{@extend .WIFULL; float:left;
				.bcolumnistas{@extend .WIFULL;clear:both;
					.colum{float:left;clear:both;padding:3px 0 3px 0;border-bottom:1px solid $colorNegr;
						figure{
							a{
								.img{float:right;}
							}
							figcaption{@extend .COLNEG;float:left;margin-top:-50px;padding:5px;background-color:rgba(77, 144, 254, 0.47);font-weight:normal;font-size:1.2em;font-style:italic;}
						}
						.collink{background:rgba(19, 19, 19, 0.73);float:left;padding:2px;padding-left:10px;font-style:italic;
							h3{@extend .COLBLA;}
						}
					}
					.colum:nth-last-child(1){margin-bottom:5px;}
				}
				.bcolumnistas:nth-child(3),.bcolumnistas:nth-last-child(1){border:none !important;}
			}
		}
	}
}
// REDES SOCIALES DE NOTAS
.redpie{@include prefix(border-radius,15px);float:right;margin-top:-4em;padding:3px;padding-top:4px;background-color:rgba(0, 0, 0, 0.31);z-index:1;position:relative;
	ul{
		li{float:left;font-size:1.8em;margin-right:3px;margin-left:3px;
			a{@extend .COLBLA;}
			a:hover{@extend .COLNEG;}
		}
	}
}
// TITULOS DE NOTAS
.titnot{@extend strong; font-size:1.2em;padding-top:15px;margin:auto;
	a{clear:both;text-align:left;line-height:1.2em;
		h2{margin-bottom:7px;}
		h3{font-size:0.8em;}
	}
}
// ENTRAR A VER NOTA
.col1,.col2{
	.rrssnot{@extend strong; line-height:1.5em;color: $colorImp;}
}
// WIDGET
.widget{
	ul{
		li:nth-child(1n+0){clear: both;margin-bottom:1em;padding:0.3em 0;width:98%;margin:auto;}
	}
}
// ETIQUETAS PARA WIDGETS
.tagsec{@extend .WIFULL;clear:both;margin-bottom:1px;margin-top:5px;
	.recnar{border-top:18px solid $colorLar;border-right:18px solid transparent;height:0;width:35%;float:left;}
	.recneg{border-bottom:18px solid $colorNegr;border-left:18px solid transparent;height:0;width:72%;float:right;margin-top:-12px;}
	.txteti{@extend strong,.COLBLA;float:right;margin:-16px 10px 0 0;clear:both;
		a{@extend .COLBLA}
	}
}
.nofound{@extend .WIMED5; margin:5em auto;
	p{margin:0 auto;display:block;
		span{@extend .FONOFI,strong;font-size:9em;color:$colorLar;text-transform:uppercase;}
	}
}
// CALENDARIO HEMEROTECA
#wp-calendar{@extend .WIFULL;
	caption{color:#eee;font-size:13px;margin-top:0;background:#111;text-transform:uppercase;padding:8px 0;}
	thead{@extend .COLBLA;font-size:10px;background:#333;;
		th{padding:4px 10px;}
	}
	tbody{color:#aaa;
		td{background:#222;color:#ccc;text-align:center;font-size:13px;padding:2.5%;
			a{color:#ccc;text-decoration:underline!important;}
		}
		td.pad{background:#111;}
		.pad{background:none;}
	}
	#today{@extend strong,.COLBLA; text-shadow:0 1px 0 rgba(0,0,0,.3);background-color:#716D6D;}
	tfoot{
		#next,#prev{font-size:10px;text-transform:uppercase;}
		#next{text-align:right;}
		#prev{padding-top:5px;}
	}
}
// CAJA PARA BUSQUEDA
input[type=search]{
	@extend .FONALL,.COLBLA;
    @include prefix(transition,all .5s);
    @include prefix(border-radius,10em);
    z-index: 6;position:relative;cursor:pointer;
    display:block;width:7.5em;height:2em;
    padding:0.5em;border:none;background:$colorIni;
    line-height:1.5em;outline:none;
}
input[type=search]:focus{@extend strong; width:200%;}
.col1 input[type=search]:focus{@extend .WIFULL;}
::-webkit-input-placeholder{@extend .COLBLA;}
input[type=search]::-webkit-search-cancel-button{@extend .COLBLA;height:10px;width:10px;background:$colorBlan;}
// FIX
.cabezalfix{@extend .WIFULL; z-index:2;margin-top:-1em;position:fixed;left:0;padding-top:3px !important;}
.infotitfix{font-size:3.2em;}
.logofix{@extend .WIMED5;margin-top:10px !important;margin-left:-300px;padding-top:3px;}
.menugrupofix li{line-height:1em;}
.centradorfix{padding-top:180px;}
.infotitfix2{display:inline-flex;float:right;z-index:5;position:fixed;right:2px;
	span{text-transform: initial;}
}
// PUBLICIDAD
[class^=ads]{@extend .WIFULL;margin:auto;clear:both;margin-bottom:0.5em !important;}
[class^=ads] ul li aside ins a img{@extend .WIFULL;}
.ads1{height:90px;}
.ads3,.ads4,.ads5{height: 60px;}
.ads6{height:100px;}
.ads7{height:200px;}
.ads8{height:250px;}
.ads9{height:300px;}
.ads10{height:250px;}
.ads11,.ads12,.ads13,.ads14{height:600px;}
.ads13,.ads14{width:120px;bottom:60px;z-index:-1;position:fixed !important;}
.ads13{float:left;left:10px;}
.ads14{float:right;right:10px;}
.A1,.B1,.B2,.E1,.E2,.F1,.F2,.G1,.G2,.H1,.H2,.J1,.J2,.K1,.K2,.L1,.L2,.M1,.M2,.N1,.N2,.O1,.O2{@extend .WIFULL;}
.A2{width:66.18%;float:left;}
.A3{width:33.82%;float:right;}
.A2,.A4{float: left;}
.A3,.A5{float: right;}
.A4,.A5{@extend .WIMED5;}
.A1,.A2,.A3,.A4,.A5{height:90px;}
.B1,.B2,.E1,.E2,.F1,.F2{height:60px;}
.G1,.G2{height:100px;}
.H1,.H2{height:200px;}
.I1,.I2,.K1,.K2{height:250px;}
.J1,.J2{height:300px;}
.L1,.L2,.M1,.M2,.N1,.N2,.O1,.O2{height:600px;}
// BOTON SUBIR
.up{@extend strong,.COLBLA;@include prefix(transform,rotate(270deg));@include prefix(border-radius,15px); font-size:1.8em;display:none;position:fixed;z-index:5;background-color:rgba(0, 0, 0, 0.70);bottom:30px;right:10px;text-transform:uppercase;padding:10px;
	span{@extend .COLBLA;}
}
.upfix{display:block;}
// LOGO TRADUCTOR GOOGLE
a.goog-logo-link img{width:initial !important;}
#google_translate_element{float:left;clear:both !important;}
.goog-te-gadget{font-family:roboto !important;display:flex;flex-direction:column;}
// CSS PLUGIN TOP 10
.tptn_posts_widget ul li{float:left;display:flex;flex-direction:row;clear:both;
	.tptn_after_thumb,.tptn_link{@extend strong; color:#505050;}
	.tptn_after_thumb{padding:0 0.8em;margin-top:0em;}
	.tptn_link{padding:0.1em 0;}
}
.tptn_after_thumb{font-size:0.8em;}
img.tptn_thumb.tptn_featured{width:initial;}
// CSS PLUGIN RELATED POST
.zem_rp_content{width:95%;margin:auto;
	.related_post_title,.related_post li{border-bottom:0.01em solid $colorIni;}
	.related_post_title{@extend strong,.COLNEG; clear:both;font-size:1em;margin-bottom:0.5em;}
	.related_post{display:inline-flex;flex-direction:column;
		li{display:flex;flex-direction:row;padding:0 0.7em;margin-bottom: 0.3em;
			.zem_rp_thumbnail{
				 img {width:initial;}
			}
			.zem_rp_title{@extend strong; margin-left:0.3em;line-height:1.2em;color:$colorIni;}
		}
	}
}
// CSS PLUGIN SHARE
.at-icon,.at-icon-wrapper{background-color:$colorIni !important;}
// CSS PARA PLUGIN PAGE-NAVI
.wp-pagenavi{
	.extend{display:none;}
	.pages{display:none;}
	a,a:link,a:visited,span.current{
		@include prefix(border-radius,2px);
		@include prefix(box-shadow,inset 0 0 1px $colorBlan);
		border: 1px solid #CCC;
		color: #666;
		background: #FAFAFA; /* For IE and older browsers */
		background-image: -moz-linear-gradient(top,#FAFAFA 0,#d5d4d4 100%);
		background-image: -ms-linear-gradient(top,#FAFAFA 0,#d5d4d4 100%);
		background-image: -o-linear-gradient(top,#FAFAFA 0,#d5d4d4 100%);
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FAFAFA),color-stop(100%,#d5d4d4));
		background-image: -webkit-linear-gradient(top,#FAFAFA 0,#d5d4d4 100%);
		background-image: linear-gradient(to bottom,#FAFAFA 0,#d5d4d4 100%);
		display: inline-block;
		line-height: 2.48em;
		height: 2.4em;
		text-decoration: none;
		margin: 0 .3em 12px;
		padding: 0 .85em;
		font-size: 12px;
		text-shadow: 0 1px 0 $colorBlan;
	}
	a:hover{
		@include prefix(box-shadow,0 0 3px rgba(0,0,0,.25));
		border: 1px solid #aeacac !important;
	}
}
// PLUGIN BJQS
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{@extend .WIFULL;  list-style: none; padding: 0; margin: 0;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}