/*
Error: Invalid CSS after "...){border:none; ": expected "}", was "!important;}"
        on line 205 of layout.scss

200: 
201: /*      nofound      *\/
202: section.nofound{margin:5em auto;width:50%;}
203: section.nofound p span{font-size:9em;color:#F15A24;font-weight:bold;text-transform:uppercase;font-family:SerifaBC;}
204: section.nofound p{margin:0 auto;display:block;}
205: .bcolumnistas:nth-child(3){border:none; !important;}
206: .bcolumnistas:nth-last-child(1){border:none; !important;}
207: 
208: /*        widget        *\/
209: section.widget-general section.widget ul li:nth-child(1n+0){margin-bottom:1em;padding:0.3em 0;width:90%;margin:auto;}
210: section.widget-general section.widget div.timeline-Header,h1.timeline-Header-title u-inlineBlock{display:none;}

Backtrace:
layout.scss:205
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1120:in `tok!'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:658:in `block'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:649:in `ruleset'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/var/lib/gems/2.1.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/usr/lib/ruby/vendor_ruby/listen/listener.rb:150:in `call'
/usr/lib/ruby/vendor_ruby/listen/listener.rb:150:in `block in _wait_for_changes'
/usr/lib/ruby/vendor_ruby/listen/listener.rb:145:in `loop'
/usr/lib/ruby/vendor_ruby/listen/listener.rb:145:in `_wait_for_changes'
/usr/lib/ruby/vendor_ruby/listen/listener.rb:43:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...){border:none; \": expected \"}\", was \"!important;}\"\A         on line 205 of layout.scss\A \A 200: \A 201: /*      nofound      */\A 202: section.nofound{margin:5em auto;width:50%;}\A 203: section.nofound p span{font-size:9em;color:#F15A24;font-weight:bold;text-transform:uppercase;font-family:SerifaBC;}\A 204: section.nofound p{margin:0 auto;display:block;}\A 205: .bcolumnistas:nth-child(3){border:none; !important;}\A 206: .bcolumnistas:nth-last-child(1){border:none; !important;}\A 207: \A 208: /*        widget        */\A 209: section.widget-general section.widget ul li:nth-child(1n+0){margin-bottom:1em;padding:0.3em 0;width:90%;margin:auto;}\A 210: section.widget-general section.widget div.timeline-Header,h1.timeline-Header-title u-inlineBlock{display:none;}"; }
