@media only screen and (max-width:1200px){
.infotit{font-size:4.0em !important;}
.infotitfix{font-size:2.8em !important;}
.logofix{width:45% !important;padding-top:10px !important;margin-left:-240px !important;}
.cabezalfix{margin-top:-9.0em !important;}
}
@media only screen and (max-width:1150px){
.menugrupo{padding-left:0em !important;}
}
@media only screen and (max-width:1100px){
.infotit{font-size:3.5em !important;}
.menugrupo li a{width:109px !important;}
.logofix{width:50% !important;padding-top:20px !important;margin-left:-300px !important;}
.ads2,.ads3{height:50px !important !important;}

}

@media only screen and (max-width:1099px){
.principales{display:none !important;}
}
@media only screen and (max-width:1037px){
.infotitfix{font-size:2.6em !important;}
.cabezalfix{margin-top:-8.5em !important;}
}

@media only screen and (max-width:1000px){
.contenedor{.cabezal{.encabezado{.contlogo{.txtlogo{.infotit{font-size:3.2em !important;}}}}}}
.txteti{margin:-16px 5px 0 0 !important;}
.menugrupo li a {font-size:0.9em !important;width:100px !important;}
.rrssnot{display:none !important;}
.titnot h3{font-size:0.65em;}
article.col2 p.txtnot{font-size:0.75em!important;}
.col2 p.catnot span{display:none!important;}
.ads1{width:100%!important;}
.cabezalfix{margin-top:-9.2em !important;}
}

@media only screen and (max-width:950px){
.contenedor{.cabezal{.encabezado{.contlogo{.txtlogo{.infotit{font-size:3.0em!important;}}}}}}
.cabezalfix{margin-top:-9.0em !important;}
.logofix{padding-top:10px !important;margin-left:-280px !important;}
}
@media only screen and (max-width:930px){
.cabezalfix{margin-top:-8.5em !important;}
}
@media only screen and (max-width:900px){
.menugrupo li a {font-size:0.8em!important;width:88px!important;}
.centrador{width:99%!important;}
.logofix{margin-left:-250px !important;}
.cabezalfix{margin-top:-8em !important;}
}
@media only screen and (max-width:834px){
.contenedor{.cabezal{.encabezado{.contlogo{.txtlogo{.infotit{font-size:2.5em!important;}}}}}}
.logofix{width:60%!important;padding-top:5px !important;}
}
@media only screen and (max-width:810px){
#item-ini{display:block!important;}
}
@media only screen and (max-width:805px){
#item-ini{display:none;}
.ads2{height:42px !important;margin-top:1em;}
.ads3{height:34px !important;}
.nota{padding:0 5px !important;
	.block1{
		.col1:nth-child(1){padding-top:25px !important;}
		.col1{padding:0 !important;}
	}
}

input[type=search]{width:2.5em !important;}
}
@media only screen and (max-width:800px){
.contenedor{.cabezal{.encabezado{.contlogo{.txtlogo{.infotit{font-size:2.5em !important;}}}}}}
}
@media only screen and (max-width:791px){
#item-ini{display:block !important;}
nav.nav_men{width:150px !important;height:auto !important;position:fixed !important;left:-100%;z-index:3 !important;top:28px !important;background:none !important;}
.menugrupo{
	li{
		a{width:150px !important;}
	}
}
.menugrupo{height:auto !important;background-color: #000 !important;}
.menu_bar{top:0px !important;left:0px !important;z-index:3 !important;position:fixed !important;display:flex !important;}
nav.nav_men ul#menugrupo li section#buscar{display:none !important;}
.icon-menu4{display:none !important;}
.redpie{padding:3px 0 !important;margin-top:-4em !important;}
.redpie ul li{font-size:1.8em !important;margin-right:0 !important;margin:0 0.3em !important;}
.tptn_posts_widget ul li a.tptn_link{padding:0 !important;}
.tptn_posts_widget ul li span.tptn_after_thumb{padding:0 !important;font-size:0.7em !important;line-height:1.1em !important;}
.col1 section figure.imgnota figcaption.piefotnot section.txtpie.color2 div.flecha.flecol1{display:none !important;}
.pie{width:95% !important;}
.cabezal{padding-top:1em !important;}
.contenedor{margin-top:30px !important;}
.centrador{margin-top:0 !important;}
article.col2 figure.imgnota section.redpie ul li{font-size:1.3em !important;margin:0 0.1em !important;}
.redpie{margin-top:-3em;}
.ads2{height:36px !important;margin-top:1em !important;margin-bottom:0.8em !important;}
.ads3{height:35px !important;}
.infotit{font-size:3.4em !important;}
.contlogo{width:95% !important;}
[class^=item-pie-]{border-top:none !important;}
.menugrupo li a{border-left:none !important;border-right:none !important;}
ul.menugrupo li{line-height:2.5em !important;}
input[type=search]{width:7.5em !important;}
input[type=search]:focus{width:100% !important;}
.ads13{top:100px !important;}
#imp_men{display:block;color:#FFF !important;text-transform:uppercase !important;}
#imp_men a{background-color:#F15A24 !important;font-weight:bold !important;}
.imp{display:none !important;}
}
@media only screen and (max-width:770px){
.infotit{font-size:3em !important;}
p.txtnot{display:none !important;}
.tptn_posts_widget ul li span.tptn_after_thumb, .tptn_posts_widget ul li a.tptn_link{padding:0 !important;}
.col1 section figure figcaption section.txtpie span{display:inline !important;}
footer section.pie section.redpie{float:left !important;}
.cabezal{padding-top:1em !important;}
.contenedor{margin-top:30px !important;}
.centrador{margin-top:0 !important;}
.ads2{height:43px !important;}
.ads3{height:32px !important;}
.tptn_posts_widget ul li a.tptn_link img{display:none !important;}
section.bmasleido section.widget ul li:nth-child(1n+0){width:100% !important;padding:0 !important;}
.block3{width:50% !important;}
.block4{width:50% !important;}
}
@media only screen and (max-width:700px){
.contenedor{.cabezal{.encabezado{.contlogo{.txtlogo{.infotit{font-size:2.8em;}}}}}}
.tptn_posts_widget ul li span.tptn_after_thumb, .tptn_posts_widget ul li a.tptn_link{padding:0.6em 0 !important;line-height:1.5em !important;}
.tptn_posts_widget ul li a.tptn_link img{display:none !important;}
.block1{width:70% !important;}
.block2{width:30% !important;flex-direction:column !important;}
.block3,.block4{width:100% !important;}
.tptn_posts_widget ul li span.tptn_after_thumb{margin-left: 1em !important;}
p.txtnot{display:block !important;}
.cabezal{padding-top:0.5em !important;}
.ads2{height:40px !important;}
.ads3{height:50px !important;}
section.bmasleido section.widget ul li:nth-child(1n+0){width:100% !important;padding:0 !important;}
.tptn_posts_widget ul li span.tptn_after_thumb{margin-top:0 !important;}
.ads3{margin-top:7px !important;}
.ads3,.ads4{height:45px!important;}
}
@media only screen and (max-width:699px){
.ads3,.ads4{height:44px!important;}
}
@media only screen and (max-width:650px){
.contenedor{.cabezal{.encabezado{.contlogo{.txtlogo{.infotit{font-size:2.5em !important;}}}}}}
.cabezal{padding-top:0 !important;}
.pie{width:80% !important;}
aside#ads1.ads1 ul.bjqs{float:left;height:90px !important;}
ins a img{height:90px !important;}
.ads3,.ads4{height:40px!important;margin-top:0 !important;}
.full{max-width:100%;width:100%;}
}
@media only screen and (max-width:600px){
aside#ads1.ads1 ul.bjqs{float:left;height:86px !important;}
ins a img{height:86px !important;}
.ads3,.ads4{height:36px!important;}
}
@media only screen and (max-width:550px){
.contenedor{.cabezal{.encabezado{.contlogo{.txtlogo{.infotit{font-size:3.5em !important;}}}}}}
.logo{display:none;}
.nota,.notas{flex-direction:column;padding-top: 0.2em;
	.block2{flex-direction:column !important;
		.block3,.block4{width:100% !important;display:flex;flex-direction:column !important;}
		.block3{margin-left: 0;}
	}
}
.block1,.block2{width:100% !important;}
footer section.pie section.redpie{margin-top:0em !important;}
footer section.pie section.redpie ul{margin-left:0 !important;}
.pie{width:70% !important;}
aside#ads1.ads1 ul.bjqs{float:left;height:82px !important !important;}
ins a img{height:82px !important;}
.ads3,.ads4{height:54px!important;}
.upfix{font-size: 1.5em;right: 0px;}

}
@media only screen and (max-width:540px){
.contenedor{.cabezal{.encabezado{.contlogo{.txtlogo{.infotit{font-size:3.2em !important;}}}}}}
.infopie{font-size:2.6em !important;}
aside#ads1.ads1 ul.bjqs{float:left;height:78px !important;}
ins a img{height:78px !important;}
.ads3,.ads4{height:50px!important;}
}
@media only screen and (max-width:500px){
.contenedor{.cabezal{.encabezado{.contlogo{.txtlogo{.infotit{font-size:2em !important;}}}}}}
article.col1 p.txtnot{font-size:0.75em!important;}
.col1 .titnot{padding-top:0px !important;}
.titnot h3,.titnot h2{font-size:1em !important;margin:initial !important;}
.logo{display:none !important;}
.pie{display:flex !important;flex-direction:column !important;width:97% !important;}
.infopie{line-height:initial !important;width:60% !important;font-size:2em !important !important;margin:0 auto !important;float:none !important;}
footer section.pie section.redpie{width:80% !important;margin-top:0.5em !important;margin:0 auto !important;float:none !important;}
.txtcentro{width:90% !important;margin:0 auto !important;margin-top:0.5em !important;margin-bottom:1em !important;float:none !important;}
footer section.pie section.redpie ul{margin-left:0 !important;}
.infotit{font-size:3.2em !important;}
footer section.pie section.redpie{width:72% !important;}
aside#ads1.ads1 ul.bjqs{float:left !important;height:72px !important;}
ins a img{height:72px !important;}
.ads3,.ads4{height:45px!important;}
section.nofound{width:80% !important;}
}
@media only screen and (max-width:450px){
.contenedor{.cabezal{.encabezado{.contlogo{.txtlogo{.infotit{font-size:3em !important;}}}}}}
.block2{flex-direction:column !important;}
.block3,.block4{width:100% !important;}
.col2 figure figcaption .txtpie{width:initial !important;border-right:1px solid #FFF !important;border-left:1px solid #FFF !important;}
.titnot h3{font-size:1em !important;}
.col1 section figure figcaption section.txtpie span,.col2 p.catnot span{display:inline !important;}
.tptn_posts_widget ul li span.tptn_after_thumb{font-size:0.9em !important;}
.tptn_posts_widget ul li a.tptn_link img{display:inline !important;}
.columnistas{width:initial;margin:auto !important;}
.colum{width:100% !important;}
.infopie{width:70% !important;}
aside#ads1.ads1 ul.bjqs{float:left;height:68px !important;}
ins a img{height:68px !important;}
.ads3,.ads4{height:36px!important;}
}
@media only screen and (max-width:400px){
.contenedor{.cabezal{.encabezado{.contlogo{.txtlogo{.infotit{font-size:2.2em !important;}}}}}}
.ads3,.ads4{height:40px!important;}
footer section.pie section.redpie{width:90% !important;}
.infopie{width:75% !important;}
aside#ads1.ads1 ul.bjqs{float:left;height:64px !important;}
ins a img{height:64px !important;}
.ads3,.ads4{height:32px!important;}
}
@media only screen and (max-width:350px){
.contenedor{.cabezal{.encabezado{.contlogo{.txtlogo{.infotit{font-size:2.2em !important;}}}}}}
.centrador{width:100% !important;}
.cabezal{padding-top:initial !important;}
.titnot h3{font-size:1em !important;}
.tptn_posts_widget ul li{font-size:1em !important;}
input[type=search]{width:3em !important;}
.redpie ul li{font-size:1.3em !important;}
.tptn_posts_widget ul li{font-size:1.5em !important;}
.infopie{width:92% !important;}
footer section.pie section.redpie{width:74% !important;}
.txtcentro{width:100% !important;}
aside#ads1.ads1 ul.bjqs{float:left;height:60px !important;}
ins a img{height:60px !important;}
.ads3,.ads4{height:28px!important;}
}
@media only screen and (max-width:320px){
.contenedor{
	.cabezal{
		.encabezado{
			.contlogo{
				.txtlogo{
					.infotit{font-size:2em !important;}
				}
			}
		}
	}
	footer{
		.pie{
			.creditos{text-align: center;
				span{text-align: justify;}
			}
			a{
				.infopie{text-align: center;}
			}
		}
	}
}
.txtpie{width:100% !important;border-right:none !important;border-left:none !important;border-bottom:none !important;}
.centrador{width:100% !important;}
footer section.pie section.redpie{width:80% !important;}
aside#ads1.ads1 ul.bjqs{float:left !important;height:52px !important;}
ins a img{height:52px !important;}
.ads3{height:50px!important;}
.ads4{height:24px!important;}
}