@media only screen and (max-width:1400px){}
@media only screen and (max-width:1334px){}
@media only screen and (max-width:1200px){
.infotit{font-size:4.3em;}
.infotitfix{font-size:3em;}
.logofix{width:45%;padding-top:10px;margin-left:-240px;}
.cabezalfix{margin-top:-9.0em;}
}
@media only screen and (max-width:1180px){}
@media only screen and (max-width:1150px){
.menugrupo{padding-left:0em;}
}
@media only screen and (max-width:1100px){
.infotit{font-size:3.8em;}
.menugrupo li a{width:109px;}
.logofix{width:50%;padding-top:20px;margin-left:-300px;}
.ads2,.ads3{height:50px !important;}

}
@media only screen and (max-width:1099px){
.principales{display:none;}
}
@media only screen and (max-width:1037px){
.infotitfix{font-size:2.8em !important;}
.cabezalfix{margin-top:-8.5em !important;}
}
@media only screen and (max-width:1000px){
.txteti{margin:-16px 5px 0 0;}
.infotit{font-size:3.5em;}
.menugrupo li a {font-size:0.9em;width:100px;}
.rrssnot{display:none;}
.titnot h3{font-size:0.65em;}
article.col2 p.txtnot{font-size:0.75em!important;}
.col2 p.catnot span{display:none;}
.ads1{width:100%;}
.cabezalfix{margin-top:-9.2em !important;}
}
@media only screen and (max-width:950px){
.infotit{font-size:3.2em;}
.cabezalfix{margin-top:-9.0em !important;}
.logofix{padding-top:10px !important;margin-left:-280px !important;}
}
@media only screen and (max-width:930px){
.cabezalfix{margin-top:-8.5em !important;}
}
@media only screen and (max-width:900px){
.menugrupo li a {font-size:0.8em;width:88px;}
.centrador{width:99%;}
.logofix{margin-left:-250px !important;}
.cabezalfix{margin-top:-8em !important;}
}
@media only screen and (max-width:834px){
.infotit{font-size:3em;}
.logofix{width:60%;padding-top:5px !important;}
}
@media only screen and (max-width:810px){
#item-ini{display:block;}
}
@media only screen and (max-width:805px){
#item-ini{display:none;}
}
@media only screen and (max-width:800px){
.infotit{font-size:2.8em;}
#item-ini{display:block;}
}
@media only screen and (max-width:791px){
nav.nav_men{width:99px;height:auto;position:fixed;left:-100%;z-index:3;top:28px;background:none;}
.menugrupo li a {width:100px;background-color:#000;}
.menugrupo{height:auto;}
.menu_bar{top:0px;left:0px;z-index:3;position:fixed;display:flex;}
nav.nav_men ul#menugrupo li section#buscar{display:none;}
.icon-menu4{display:none;}
.col2{padding:0.5em 0.1em;}
.redpie{padding:3px 0;margin-top:-4em;}
.redpie ul li{font-size:1.8em;margin-right:0;margin:0 0.3em;}
.tptn_posts_widget ul li a.tptn_link{padding:0;}
.tptn_posts_widget ul li span.tptn_after_thumb{padding:0;font-size:0.7em;line-height:1.1em;}
.col1 section figure.imgnota figcaption.piefotnot section.txtpie.color2 div.flecha.flecol1{display:none;}
.pie{width:95%;}
.cabezal{padding-top:1em;}
.contenedor{margin-top:30px;}
.centrador{margin-top:0;}
article.col2 figure.imgnota section.redpie ul li{font-size:1.3em;margin:0 0.1em;}
.redpie{margin-top:-3em;}
.ads2{height:45px !important;}
.ads3{height:42px !important;}
.infotit{font-size:3.5em;}
.contlogo{width:95%;}
[class^=item-pie-]{border-top:none;}
.menugrupo li a{border-left:none;border-right:none;}
ul.menugrupo li{line-height:2.5em;}
}
@media only screen and (max-width:770px){
.infotit{font-size:3.3em;}
p.txtnot{display:none;}
.tptn_posts_widget ul li span.tptn_after_thumb, .tptn_posts_widget ul li a.tptn_link{padding:0;}
.col1 section figure figcaption section.txtpie span{display:inline;}
footer section.pie section.redpie{float:left;}
.cabezal{padding-top:1em;}
.contenedor{margin-top:30px;}
.centrador{margin-top:0;}
.ads2{height:43px !important;}
.ads3{height:38px !important;}
.tptn_posts_widget ul li a.tptn_link img{display:none;}
section.bmasleido section.widget ul li:nth-child(1n+0){width:100%;padding:0;}
.block3{width:50%;}
.block4{width:50%;}
}
@media only screen and (max-width:700px){
.tptn_posts_widget ul li span.tptn_after_thumb, .tptn_posts_widget ul li a.tptn_link{padding:0.6em 0;line-height:1.5em;}
.tptn_posts_widget ul li a.tptn_link img{display:none;}
.block1{width:70%;}
.block2{width:30%;flex-direction:column;}
.block3,.block4{width:100%;}
.tptn_posts_widget ul li span.tptn_after_thumb{margin-left: 1em;}
p.txtnot{display:block;}
.cabezal{padding-top:0.5em;}
.ads2{height:40px !important;}
.ads3{height:50px !important;}
section.bmasleido section.widget ul li:nth-child(1n+0){width:100%;padding:0;}
.infotit{font-size:3em;}
.tptn_posts_widget ul li span.tptn_after_thumb{margin-top:0;}
.ads3{margin-top:7px;}
.ads3,.ads4{height:48px!important;}
}
@media only screen and (max-width:699px){
.ads3,.ads4{height:44px!important;}
}
@media only screen and (max-width:650px){
.cabezal{padding-top:0;}
.infotit{font-size:2.8em;}
.pie{width:80%;}
aside#ads1.ads1 ul.bjqs{float:left;height:90px !important;}
ins a img{height:90px !important;}
.ads3,.ads4{height:40px!important;margin-top:0;}
.full{max-width:100%;}
}
@media only screen and (max-width:600px){
aside#ads1.ads1 ul.bjqs{float:left;height:86px !important;}
ins a img{height:86px !important;}
.ads3,.ads4{height:36px!important;}
}
@media only screen and (max-width:550px){
.logo{display:none;}
.notas{flex-direction:column;}
.block1,.block2{width:100%;}
.block2{flex-direction:row;}
.block3,.block4{width:50%;display:flex;flex-direction:column;}
footer section.pie section.redpie{margin-top:0em;}
footer section.pie section.redpie ul{margin-left:0;}
.pie{width:70%;}
.infotit{font-size:3.9em;}
aside#ads1.ads1 ul.bjqs{float:left;height:82px !important;}
ins a img{height:82px !important;}
.ads3,.ads4{height:54px!important;}
}
@media only screen and (max-width:540px){
.infotit{font-size:3.5em;}
.infopie{font-size:2.8em;}
aside#ads1.ads1 ul.bjqs{float:left;height:78px !important;}
ins a img{height:78px !important;}
.ads3,.ads4{height:50px!important;}
}
@media only screen and (max-width:500px){
.infotit{font-size:2.3em;}
article.col1 p.txtnot{font-size:0.75em!important;}
.col1 .titnot{padding-top:0px;}
.titnot h3,.titnot h2{font-size:1em;margin:initial;}
.logo{display:none;}
.pie{display:flex;flex-direction:column;width:90%;}
.infopie{line-height:initial;width:60%;font-size:2em;margin:0 auto;float:none;}
footer section.pie section.redpie{width:80%;margin-top:0.5em;margin:0 auto;float:none;}
.txtcentro{width:90%;margin:0 auto;margin-top:0.5em;margin-bottom:1em;float:none;}
footer section.pie section.redpie ul{margin-left:0;}
.infotit{font-size:3.5em;}
footer section.pie section.redpie{width:72%;}
aside#ads1.ads1 ul.bjqs{float:left;height:72px !important;}
ins a img{height:72px !important;}
.ads3,.ads4{height:45px!important;}
}
@media only screen and (max-width:450px){
.block2{flex-direction:column;}
.block3,.block4{width:100%;}
.col2 figure figcaption .txtpie{width:initial;border-right:1px solid #FFF;border-left:1px solid #FFF;}
.col2{padding:8.5px}
.titnot h3{font-size:1em;}
.col1 section figure figcaption section.txtpie span,.col2 p.catnot span{display:inline;}
.tptn_posts_widget ul li span.tptn_after_thumb{font-size:0.9em;}
.tptn_posts_widget ul li a.tptn_link img{display:inline;}
.columnistas{width:initial;margin:auto;}
.colum{width:100%;}
.infopie{width:70%;}
.infotit{font-size:3.2em;}
aside#ads1.ads1 ul.bjqs{float:left;height:68px !important;}
ins a img{height:68px !important;}
.ads3,.ads4{height:36px!important;}
}
@media only screen and (max-width:400px){
.ads3,.ads4{height:40px!important;}
.infotit{font-size:2.8em;}
footer section.pie section.redpie{width:90%;}
.infopie{width:75%;}
aside#ads1.ads1 ul.bjqs{float:left;height:64px !important;}
ins a img{height:64px !important;}
.ads3,.ads4{height:32px!important;}
}
@media only screen and (max-width:350px){
.centrador{width:100%;}
.cabezal{padding-top:initial;}
.titnot h3{font-size:1em;}
.infotit{font-size:2.5em;}
.tptn_posts_widget ul li{font-size:1em;}
input[type=search]{width:3em;}
.redpie ul li{font-size:1.3em;}
.tptn_posts_widget ul li{font-size:1.5em;}
.infopie{width:92%;}
footer section.pie section.redpie{width:74%;}
.txtcentro{width:100%;}
aside#ads1.ads1 ul.bjqs{float:left;height:60px !important;}
ins a img{height:60px !important;}
.ads3,.ads4{height:28px!important;}
}
@media only screen and (max-width:320px){
.txtpie{width:100%;border-right:none;border-left:none;border-bottom:none;}
.infotit{font-size:2.3em;}
.centrador{width:100%;}
footer section.pie section.redpie{width:80%;}
aside#ads1.ads1 ul.bjqs{float:left;height:52px !important;}
ins a img{height:52px !important;}
.ads3,.ads4{height:24px!important;}
}
