@media only screen and (max-width:1400px){}
@media only screen and (max-width:1334px){
.menugrupo{padding-left:8.5em;}
}
@media only screen and (max-width:1200px){
.infotit{font-size:4.3em;}
.menugrupo{padding-left:3.4em;}
}
@media only screen and (max-width:1130px){
.menugrupo{padding-left:2.5em;}
}
@media only screen and (max-width:1115px){
.menugrupo{padding-left:1em;}
}
@media only screen and (max-width:1100px){
.infotit{font-size:3.8em;}
.menugrupo{padding-left:4em;}
.menugrupo li a {width:109px;}
}
@media only screen and (max-width:1037px){
.menugrupo{padding-left:0.7em;}
}
@media only screen and (max-width:1000px){
.txteti{margin:-16px 5px 0 0;}
.infotit{font-size:3.5em;}
.menugrupo{padding-left:3em;}
.menugrupo li a {font-size:0.9em;width:100px;}
.rrssnot{display:none;}
.titnot h3{font-size:0.65em;}
article.col2 p.txtnot{font-size:0.75em!important;}
.col2 p.catnot span{display:none;}
.ads1{width:100%;}
}
@media only screen and (max-width:950px){
.infotit{font-size:3.2em;}
.menugrupo{padding-left:2em;}
}
@media only screen and (max-width:930px){
.menugrupo{padding-left:0em;}
}
@media only screen and (max-width:900px){
.menugrupo{padding-left:3em;}
.menugrupo li a {font-size:0.8em;width:88px;}
.centrador{width:99%;}
}
@media only screen and (max-width:834px){
.infotit{font-size:3em;}
.menugrupo{padding-left:1em;}
}
@media only screen and (max-width:810px){
.menugrupo{padding-left:0em;}
#item-ini{display:block;}
}
@media only screen and (max-width:805px){
.menugrupo{padding-left:3em;}
#item-ini{display:none;}
}
@media only screen and (max-width:800px){
.infotit{font-size:2.8em;}
.menugrupo{padding-left:0em;}
#item-ini{display:block;}
}
@media only screen and (max-width:791px){
nav.nav_men{width:99px;height:auto;position:fixed;left:-100%;z-index:3;top:34px;background:none;}
.menugrupo li a {width:100px;background-color:#000;}
.menu_bar{top:2px;left:2px;z-index:3;position:fixed;display:block;}
.icon-menu4{display:none;}
.col2{padding:0.5em 0.1em;}
.redpie{padding:3px 0;margin-top:-4em;}
.redpie ul li{font-size:1.8em;margin-right:0;margin:0 0.3em;}
.tptn_posts_widget ul li a.tptn_link{padding:0;}
.tptn_posts_widget ul li span.tptn_after_thumb{padding:0;font-size:0.7em;line-height:1.1em;}
.col1 section figure.imgnota figcaption.piefotnot section.txtpie.color2 div.flecha.flecol1{display:none;}
}
@media only screen and (max-width:770px){
.infotit{font-size:2.5em;}
p.txtnot{display:none;}
.tptn_posts_widget ul li span.tptn_after_thumb, .tptn_posts_widget ul li a.tptn_link{padding:0;}
.col1 section figure figcaption section.txtpie span{display:none;}
}
@media only screen and (max-width:700px){
.tptn_posts_widget ul li span.tptn_after_thumb, .tptn_posts_widget ul li a.tptn_link{padding:0.6em 0;line-height:1.5em;}
.tptn_posts_widget ul li a.tptn_link img{display:none;}
.block1{width:70%;}
.block2{width:30%;flex-direction:column;}
.block3,.block4{width:100%;}
.tptn_posts_widget ul li span.tptn_after_thumb{margin-left: 1em;}
p.txtnot{display:block;}
}
@media only screen and (max-width:650px){
.infotit{font-size:2em;}
}
@media only screen and (max-width:550px){
.logo{display:none;}
.notas{flex-direction:column;}
.block1,.block2{width:100%;}
.block2{flex-direction:row;}
.block3,.block4{width:50%;display:flex;flex-direction:column;}
}
@media only screen and (max-width:500px){
.infotit{font-size:1.8em;}
.logo{display:none;}
}
@media only screen and (max-width:450px){
.block2{flex-direction:column;}
.block3,.block4{width:100%;}
.col2 figure figcaption .txtpie{width:initial;border-right:1px solid #FFF;border-left:1px solid #FFF;}
.col2{padding:8.5px}
.titnot h3{font-size:1em;}
.col1 section figure figcaption section.txtpie span,.col2 p.catnot span{display:inline;}
.tptn_posts_widget ul li span.tptn_after_thumb{font-size:0.9em;}
.tptn_posts_widget ul li a.tptn_link img{display:inline;}
.columnistas{width:initial;margin:auto;}
.colum{width:100%;}
}
@media only screen and (max-width:400px){
}
@media only screen and (max-width:350px){
.centrador{width:100%;}
/*.imgnota{display:none;}*/
.redpie{display:none;}
.titnot h3{font-size:1em;}
.tptn_posts_widget ul li{font-size:1.5em;}
}
@media only screen and (max-width:320px){
.centrador{width:100%;}
/*.imgnota{display:none;}*/
.redpie{display:none;}
.titnot h3{font-size:1em;}
.tptn_posts_widget ul li{font-size:1.5em;}
}



/*320, 375, 425, 768*/
