@media only screen and (max-width:1334px){
.menugrupo{padding-left:8.5em;}
}

@media only screen and (max-width:1200px){
.infotit{font-size:4.3em;}
}

@media only screen and (max-width:1180px){
.menugrupo{padding-left:3.5em;}    
}
@media only screen and (max-width:1100px){
.menugrupo{padding-left:0.5em;}
.menugrupo li a {width:109px;}
}
@media only screen and (max-width:1000px){
.menugrupo{padding-left:3em;}
.menugrupo li a {font-size:0.9em;width:100px;}
}
@media only screen and (max-width:950px){
.menugrupo{padding-left:2em;}
}
@media only screen and (max-width:930px){
.menugrupo{padding-left:0em;}
}
@media only screen and (max-width:900px){
.menugrupo{padding-left:3em;}
.menugrupo li a {font-size:0.8em;width:88px;}
}
@media only screen and (max-width:834px){
.menugrupo{padding-left:1em;}
}
@media only screen and (max-width:810px){
.menugrupo{padding-left:0em;}
#item-ini{display:block;}
}
@media only screen and (max-width:805px){
.menugrupo{padding-left:3em;}
#item-ini{display:none;}
}
@media only screen and (max-width:800px){
.menugrupo{padding-left:0em;}
#item-ini{display:block;}
}
@media only screen and (max-width:791px){
nav.nav_men{width:99px;height:auto;position:fixed;left:-100%;z-index:3;top:20px;background:none;}
.menugrupo li a {width:100px;background-color:#000;}
.menu_bar{top:2px;left:2px;z-index:3;position:fixed;display:block;}



}

@media only screen and (max-width:768px){}
@media only screen and (max-width:600px){}
@media only screen and (max-width:480px){}
@media only screen and (max-width:320px){}
@media only screen and (max-width:240px){}
